{:paths ["."]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        criterium/criterium {:mvn/version "0.4.6"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.1.0"}
        com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}}}
